@import "compass/css3";
@import "susy";
@import "breakpoint";
@import url('https://fonts.googleapis.com/css?family=Orbitron|Racing+Sans+One');



$font-title: 'Orbitron', sans-serif;
$font-home-title: 'Racing Sans One';
$font-stack: 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', Garamond, serif;

html, body{
  height: 100%;
}

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

section{
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  width: 100%;
  margin-right: 0;
  display: block;
  position: relative;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#title-services, #title-delivered, #about-title, #contact-title{
  font-family: 36px $font-title;
  line-height: 36px;
  margin: 0;
  color: #333333;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*--------------------------------HOME PAGE -------------------------------------------*/

#homepage{
  height: 100vh;
  max-width: 100%;
  background: url('../images/homePage-road.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: white;
  font-family: 70px cursive $font-home-title;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sub_title{
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 1.35rem;
  margin: 0 auto;
  font-size: 20px;
}

@media screen and (max-width: 650px){
  .title{
    font-size: 45px;
  }
}

@media screen and (max-width: 481px){
  .title{
    font-size: 35px;
  }
}

@media screen and (max-width: 360px){
  nav a{
    font-size: 12px;


  }
}

/*--------------------------------SERVICES -------------------------------------------*/
#service-content{
  /*padding-top: 150px;*/
  height: 900px;
  background: white;
}
.service-container{
  width: 70%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
  border: 3px dotted rgb(48, 73, 93);
}










/*--------------------------------preview work -------------------------------------------*/

#preview-work{
  max-width: 100%;
}

/* Main carousel style */
.carousel {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

@media only screen and (max-width: 1063px){
  .carousel {
    width: 700px;
  }
}

@media only screen and (max-width: 780px){
  .carousel {
    width: 500px;
  }
}

@media only screen and (max-width: 570px){
  .carousel {
    width: 350px;
  }

  .article-slide .carousel-indicators li{
    width: 50px;
    margin-bottom: 0px;
  }

  .article-slide .carousel-indicators img{
    width: 50px;
  }
}


/*--------------------------------About -------------------------------------------*/
#about-company{
  height: 80%;
  background: #eeeeee ;
}

.blurb{
  max-width: 620px;
  font-family: 19px $font-stack;
	padding: 0 15px;
	margin: 50px auto;
	text-align: center;
	font-weight: 300px;
}

#truck{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

/*--------------------------------contact -------------------------------------------*/
#contactPage{
  -webkit-font-smoothing: antialiased;
  background: #424242;
  color: #ffffff;
}

#contact-title{
  color: #FFFFFF;
}

section {
  .inner{
    max-width: 1253px;
    margin: 0 auto;
    overflow: hidden;
  }

  .content{
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
  }

#contactPage .left {
  text-align: left;
  font-family: $font-stack;
}

section .content .half {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  width: 48.93617021276596%;
  margin-right: 30%;
}

#contactPage .left h3{
  font-size: 36px;
  font-family: 'Lobster Two', cursive;
  line-height: 36px;
  margin: 0;
}

#contactPage .left .address, .telephone, .email {
  margin-top: 48px;
  font-size: 19px;
  line-height: 29px;
  font-family: $font-stack;
}

.email a{
  color: #ffffff;
  font-size: 19px;
  line-height: 29px;
  padding-bottom: 3px;
  text-decoration: none;
  outline: none;
}
a, :focus{
  outline: 0;
}
h4{
  font-weight: 700;
}


@media only screen and (min-width: 958px){
  #contactPage .content {
    margin: 0 1.5%;
  }
}

@media only screen and (min-width: 1258px){
  #contactPage .content {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 958px){
  section header {
    margin-top: 90px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 684px){
  #contactPage .left h3{
    font-size: 30px;
  }
}
